backend/server/logs/*
frontend/server/logs/*
backend/apps
frontend/apps
electron/app
.chrome
.DS_Store
debug.log
frontend/framework/conf/default_app.json
!frontend/framework/conf/default_app.json.README
node_modules
