backend/server/logs/*
frontend/server/logs/*
tests/*/*/logs/*
backend/apps
frontend/apps
desktop/app
.chrome
.DS_Store
debug.log
frontend/framework/conf/default_app.json
!frontend/framework/conf/default_app.json.README
node_modules
**/package-lock.json
**/dist
desktop/package.json
backend/server/java/org/*
backend/server/conf/hostname.json