[Unit]
Description=Monkshu service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=tekmonks
ExecStart=/usr/bin/env node /home/tekmonks/crashguard/crashguard.js

[Install]
WantedBy=multi-user.target
